ul{
    text-align: center;
    font-size: 0;
    z-index: 10;
    position: relative;
}
ul li {
    font-size: 40px;
    display: inline-block;
    background: plum;
    position: relative;
}
ul li:hover{
    background: powderblue;
}

ul li+li{
    border-left: rgb(255, 238, 218) 2px dotted;
}

ul li a{
    text-decoration: none;
    color:rgb(255, 238, 218) ;
    text-transform: uppercase;
    padding: 20px 30px;
    display:block;
    top:100%;

    
}
ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
ul li:hover ul {
    display:grid;    
}
ul ul li{
    background: plum;
    border-left: none;
    border-top: rgb(255, 238, 218) 2px dotted;
}

.floatmenu{
    position: absolute;
    left:100%;
    top: 0;
    display: none;
}
.float:hover .floatmenu{
    display: grid;
}
.gridmenu{
    position: absolute;
    left:0;
    top: 0;
    display:none;
}
.grid:hover .gridmenu{
    display: grid;
}